.playagainBtn {
  width: 460px;
  height: 78px;
  background: #082f0c;
  border-radius: 60px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  p {
    font-family: "Lato";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
}
